.mt-6{margin-top: 64px;}
.mt-7{margin-top: 80px;}
.mt-8{margin-top: 96px;}
.mt-9{margin-top: 112px;}
.mt-10{margin-top:128px;}
.mt-11{margin-top: 144px;}
.mt-12{margin-top: 160px;}
.mt-13{margin-top: 176px;}
.mt-14{margin-top: 192px;}
.mt-15{margin-top: 208px;}
.mt-20{margin-top: 250px;}
.mt-25{margin-top: 300px;}
.mt-30{margin-top: 350px;}
.mt-35{margin-top: 400px;}
.mt-40{margin-top: 450px;}
.ms-6{margin-left: 64px;}
.ms-7{margin-left: 80px;}
.ms-8{margin-left: 96px;}
.ms-9{margin-left: 112px;}
.ms-10{margin-left:128px;}
.pt-6{padding-top: 64px;}
.pt-7{padding-top: 80px;}
.pt-8{padding-top: 96px;}
.pt-9{padding-top: 112px;}
.pt-10{padding-top:128px;}
.pt-11{padding-top: 144px;}
.pt-12{padding-top: 160px;}
.pt-13{padding-top: 176px;}
.pt-14{padding-top: 192px;}
.pt-15{padding-top: 208px;}
.pt-20{padding-top: 250px;}
.py-6{padding: 64px 0;}
.py-7{padding: 80px 0;}
.py-8{padding: 96px 0;}
.py-9{padding: 112px 0;}
.py-10{padding: 128px 0;}
.pb-6{padding-bottom: 64px;}
.pb-7{padding-bottom: 80px;}
.pb-8{padding-bottom: 96px;}
.pb-9{padding-bottom: 112px;}
.pb-10{padding-bottom: 128px;}
.ps-6{padding-left:64px;}
.ps-7{padding-left: 80px;}
.ps-8{padding-left: 96px;}
.ps-9{padding-left: 112px;}
.ps-10{padding-left: 128px;}